@import "css/reset.css" ;
*,*:before,*:after{
  box-sizing:border-box;
}
body{
  line-height: 1.5;
  font-family: 'Castoro', serif;
}
h1{
  padding-top: 160px;
  font-size: 128px;
  letter-spacing: .12em;
}
h2{
  font-size: 40px;
}
a{
  text-decoration: none;
  color: #000;
}
.fs-1{
  font-size: 32px;
}
.fs-2{
  font-size: 24px;
}
.fs-3{
  font-size: 20px;
}
.container{
  max-width: 1296px;
  margin: 0 auto;
}
.header h2{
  letter-spacing: .12em;
  font-size: 128px;
  text-align: right;
}
.img{
  text-align: center;
  vertical-align: middle;
}
.bg-gray{
  background: #EFEFEF;
  margin-bottom: 80px;
}
.content{
  width: 50%;
  margin-left: auto;
  padding: 48px;
}
.resume h2{
  margin-top: 40px;
  color: #AE0000;
  border-bottom: 2px solid #AE0000;
  margin-bottom: 16px;
}
.id li{
  margin: 8px 0;
}
.i{
  font-style: italic;
  color: #949494;
}
.edu li,
.work li{
  margin: 16px 0;
}
.awards li{
  margin: 12px 0;
}
.bg-black{
  background: #000;
  margin-top: 160px;
}
.footer{
  width: 272px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 64px 0;
}