@import url("css\reset.css");
*{
  box-sizing: border-box;
}
.container{
  width: 640px;
  margin: 50px auto;
}
h3{
  font-size: 20px;
  line-height: 1.2;
}
p{
  font-size: 16px;
  line-height: 1.5;
}
.news{
  display: flex;
}
.news img{
  width: 96px;
  height: 96px;
  display: block;
  margin-bottom: 24px;
  margin-right: 20px;
}
.content{
  width: 288px;
  margin:0 20px;
}
.main{
  display: flex;
}